/* place all your custom css here */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i,800');

.buttons {
    background: #151420;
    font-family: "Open Sans";
    padding-top: 5px;
    padding-bottom: 5px;
}
.ipsContainer, .ipsPanel {

    color: white;
    background: #151420 !important;

}

.ipsClockWidget {

    background: #151420 !important;
    border-bottom: 3px solid #151420;

}

.sub {

    background: #151420 !important;
    border-bottom: #151420;

}