/* place all your custom css here */
.buttons {
    background: #151420;
    font-family: "Arial";
}
.ipsContainer, .ipsPanel {

    color: white;
    background: #151420 !important;

}

.ipsClockWidget {

    background: #151420 !important;

}

.sub {

    background: #151420 !important;

}